.border {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 30px;
  background: greenyellow;
}

.border::after {
  position: absolute;
  content: '';
  width: 300%;
  height: 300%;
  left: 0;
  top: 0;
  border: solid 10px #000;
  transform: scale(0.3333);
  transform-origin: 0 0;
}